h1 {
    font-family: 'Dela Gothic One', cursive;
}

body {
    font-family: 'Figtree', sans-serif;
}

.text-blue {
    color: #32A2D2;
}

.hidden-text {
    text-security: disc;
    -webkit-text-security: disc;
    -moz-text-security: disc;
}